<html>
  <head>
    <title>Blotch v2.02</title>

    <link rel="shortcut icon" href="img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet" />
    <link rel="stylesheet" href="index.css" />

  </head>
  <body>
    <div id = "topGrid" class="paraGrid">
    </div>

    <div id="GridContainer" class="paraGrid">
      <div id="topSpace">

      </div>
      <div id="blotchLogo">
        <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="-3 -3 367 98">
          <title>test04</title>
            <circle class="svgcircle" cx="4.97" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="2.11" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="13.19" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="24.28" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="25.22" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="31" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="36.77" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="42.55" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="48.33" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="122.87" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="128.65" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="134.43" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="140.2" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="145.98" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="151.76" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="174.87" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="180.64" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="186.42" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="209.53" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="215.31" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="221.09" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="249.97" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="255.75" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="261.53" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="267.3" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="273.08" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="325.08" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="330.86" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="336.63" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="342.41" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="22.3" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="28.08" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="33.86" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="39.63" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="45.41" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="51.19" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="56.97" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="119.95" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="125.73" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="131.51" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="137.29" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="143.06" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="148.84" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="154.62" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="160.4" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="177.73" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="183.51" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="206.61" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="212.39" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="218.17" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="223.95" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="241.28" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="247.06" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="252.83" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="258.61" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="264.39" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="270.17" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="275.94" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="281.72" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="322.16" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="327.94" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="333.72" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="339.49" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="345.27" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="351.05" cy="35.36" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="19.44" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="25.22" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="31" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="36.77" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="42.55" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="48.33" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="54.11" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="59.88" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="111.32" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="117.09" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="122.87" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="128.65" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="134.43" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="140.2" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="145.98" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="151.76" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="157.54" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="163.31" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="174.87" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="180.64" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="186.42" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="209.53" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="215.31" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="221.09" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="238.42" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="244.2" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="249.97" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="255.75" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="261.53" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="267.3" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="273.08" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="278.86" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="284.64" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="319.3" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="325.08" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="330.86" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="336.63" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="342.41" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="348.19" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="353.96" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="22.3" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="45.41" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="51.19" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="56.97" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="62.74" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="108.4" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="114.18" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="119.95" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="125.73" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="148.84" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="154.62" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="160.4" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="166.17" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="235.5" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="241.28" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="247.06" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="275.94" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="281.72" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="287.5" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="339.49" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="345.27" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="351.05" cy="46.44" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="19.44" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="48.33" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="54.11" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="59.88" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="111.32" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="117.09" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="122.87" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="151.76" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="157.54" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="163.31" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="169.09" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="232.64" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="238.42" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="244.2" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="342.41" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="348.19" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="353.96" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="51.19" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="56.97" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="62.74" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="108.4" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="114.18" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="119.95" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="154.62" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="160.4" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="166.17" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="229.72" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="235.5" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="241.28" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="339.49" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="345.27" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="351.05" cy="57.53" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="19.44" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="48.33" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="54.11" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="59.88" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="111.32" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="117.09" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="122.87" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="157.54" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="163.31" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="169.09" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="232.64" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="238.42" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="244.2" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="342.41" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="348.19" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="353.96" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="22.3" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="45.41" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="51.19" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="56.97" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="62.74" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="108.4" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="114.18" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="119.95" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="125.73" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="154.62" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="160.4" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="166.17" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="189.28" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="235.5" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="241.28" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="247.06" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="275.94" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="281.72" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="287.5" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="339.49" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="345.27" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="351.05" cy="68.61" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="19.44" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="25.22" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="42.55" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="48.33" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="54.11" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="59.88" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="111.32" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="117.09" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="122.87" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="128.65" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="145.98" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="151.76" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="157.54" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="163.31" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="192.2" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="209.53" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="232.64" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="238.42" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="244.2" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="249.97" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="273.08" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="278.86" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="284.64" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="342.41" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="348.19" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="353.96" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="4.97" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="10.75" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="16.52" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="22.3" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="28.08" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="33.86" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="39.63" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="45.41" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="51.19" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="56.97" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="80.62" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="86.4" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="92.18" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="114.18" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="119.95" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="125.73" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="131.51" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="137.29" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="143.06" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="148.84" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="154.62" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="160.4" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="195.06" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="200.84" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="206.61" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="212.39" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="235.5" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="241.28" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="247.06" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="252.83" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="258.61" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="264.39" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="270.17" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="275.94" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="281.72" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="304.83" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="310.61" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="316.38" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="339.49" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="345.27" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="351.05" cy="79.69" r="2.11"/>
            <circle class="svgcircle" cx="7.89" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="2.11" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="13.66" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="25.22" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="31" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="36.77" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="42.55" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="48.33" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="54.11" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="83.54" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="7.44" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="18.53" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="29.61" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="40.69" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="51.78" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="62.86" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="73.94" r="2.11"/>
            <circle class="svgcircle" cx="77.73" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="89.32" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="122.87" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="128.65" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="134.43" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="140.2" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="145.98" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="151.76" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="197.98" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="203.75" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="209.53" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="215.31" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="244.2" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="249.97" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="255.75" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="261.53" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="267.3" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="273.08" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="278.86" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="301.97" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="307.75" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="313.52" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="342.41" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="348.19" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="353.96" cy="85.03" r="2.11"/>
            <circle class="svgcircle" cx="33.86" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="39.63" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="131.51" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="137.29" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="143.06" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="206.61" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="212.39" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="252.83" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="258.61" cy="90.78" r="2.11"/>
            <circle class="svgcircle" cx="264.39" cy="90.78" r="2.11"/>
        </svg>
      </div>

      <div id="introText">
        <p class="block">
          <span class="blotch">blotch</span> is an open <strong>collective</strong> of artists, designers, and makers.
        </p>

        <p class="block">
          <span class="blotch">blotch</span> consists of <span class="names">Andrea Quek</span>, <span class="names">Bob Wong</span>, <a href="http://jereteo.wixsite.com/artof/">Jeremy Teo</a>, <a href="http://www.jerroldchong.com/">Jerrold Chong</a>, <a href="http://www.artjelly.com/">Jia Lee</a>, <span class="names">Lim Zi Yuan</span>, <a href="http://www.matthewlimkewei.com/">Matthew Lim</a>, <span class="names">Teo Chia Kai</span>, <a href="https://vimeo.com/victorgan">Victor Gan</a>, <span class="names">Vivian Chen</span>, <a href="http://laylawei.space/">Layla Wei</a>, and other collaborators.
        </p>

        <p class="block">
          <span class="blotch">blotch</span> can be found on <a href="https://www.facebook.com/blotchcollective">Facebook</a> and <a href="https://www.instagram.com/blotchcollective/">Instagram</a>. Let's get in touch, <a href="mailto:hello@blotch.co">email</a> us.
        </p>

      </div>

    </div>

    <script src="jquery.min.js"></script>
    <script src="velocity.min.js"></script>
    <script src="index2c.js"></script>
  </body>
</html>
